{% extends 'base.html' %}
{% load static %}
{% block content %}
<canvas id="springydemo" width="1500px" height="1000px"/>
{% endblock %}

{% block javascript %}
{{ block.super }}
<script src="{% static 'xchk_core/js/springy.js' %}"></script>
<script src="{% static 'xchk_core/js/springyui.js' %}"></script>
{{ graph|json_script:"graph" }}
<script>
$(window).on('load', function() {
  const data = JSON.parse(document.getElementById('graph').textContent);
  var graph = new Springy.Graph();
  var nodes = {}
  for (dependency_pair_idx in data) {
    nodes[data[dependency_pair_idx][0]] = graph.newNode({ label : data[dependency_pair_idx][0]});
    for (dependency_idx in data[dependency_pair_idx][1]) {
      nodes[data[dependency_pair_idx][1][dependency_idx]] = graph.newNode({ label : data[dependency_pair_idx][1][dependency_idx] });
    }
  }
  for (dependency_pair_idx in data) {
    for (dependency_idx in data[dependency_pair_idx][1]) {
      graph.newEdge(nodes[data[dependency_pair_idx][1][dependency_idx]],nodes[data[dependency_pair_idx][0]]);
    }
  }
  jQuery(function(){
    var springy = window.springy = jQuery('#springydemo').springy({
      graph: graph,
    });
  });
}); 
</script>
{% endblock %}
