{% extends 'base.html' %}
{% load static %}
{% block content %}

{{ toc|safe }}

{% if repo_id %}
<code>{{ clone_command }}</code>
<a href="{% url 'checkerapp:delete_repo_view' repo_id %}">Mijn repository voor deze cursus verwijderen.</a>
{% endif %}
 
{% endblock %}

{% block javascript %}
{{ block.super }}
{{ supplied_dependencies|json_script:"supplied_dependencies" }}
<script>
dependencies = JSON.parse(document.getElementById('supplied_dependencies').textContent);
markWithDependencies = function(uid) {
  var icon = $("i").filter(function() { return $(this).attr('for_cv_uid') === uid });
  icon.addClass("dependency");
  var icon_dependencies = dependencies[uid];
  if (icon_dependencies) {
    for (dep in icon_dependencies) {
      markWithDependencies(icon_dependencies[dep]);
    }
  }
}
$(window).on('load', function() {
  $(".fa-crosshairs").click(
    function(e) {
      markWithDependencies($(this).attr('for_cv_uid'));
    }
  );
}); 
</script>
{% endblock %}
