{% extends 'base.html' %}
{% load static %}
{% block content %}

{{ toc|safe }}

{% if repo_id %}
<code>{{ clone_command }}</code>
<a href="{% url 'checkerapp:delete_repo_view' repo_id %}">Mijn repository voor deze cursus verwijderen.</a>
{% endif %}
 
{% endblock %}

{% block javascript %}
{{ block.super }}
{{ supplied_dependencies|json_script:"supplied_dependencies" }}
<script>
dependencies = JSON.parse(document.getElementById('supplied_dependencies').textContent);
markWithDependencies = function(uid) {
  var a = $("a").filter(function() { return $(this).attr('cv_uid') === uid });
  a.addClass("dependency");
  var a_dependencies = dependencies[uid];
  if (a_dependencies) {
    for (dep in a_dependencies) {
      markWithDependencies(a_dependencies[dep]);
    }
  }
}
$(window).on('load', function() {
  $(".fa-crosshairs").hover(
    function(e) {
      markWithDependencies($(this).attr('for_cv_uid'));
    },
    function(e) {
      $("*").removeClass("dependency");
  });
}); 
</script>
{% endblock %}
