{% extends 'base.html' %}
{% block content %}
<h1>Van start gaan met xchk</h1>
<p>Om met xchk te werken, moet je enkele setupstappen doorlopen. Deze worden voorgedaan in onderstaande filmpjes, die je in volgorde moet doorlopen:</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/J60gDypbxAA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/glAMnsCr4tY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/RsmioORgZoQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/TmoKMk3TqlE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>Hieronder vind je ook een demonstratie van het gebruik van xchk: hoe je oefeningen indient en hoe je de foutmeldingen gebruikt om je eigen oplossingen te verbeteren:</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/E2tXCZYmE2U" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endblock %}
